.PostingSectionc{
  background-color: #cf8ce0d7;
}


.PostingPaper{
  padding : 1rem;
  margin : 1rem;
}

.PostingForm{
  display: flex;
  flex-direction: column;
}

.card{
  margin-bottom: 3rem;
  border:1px;
  display: inline;
}


body{
  background-color: #f5d9fcd7;
}
